 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Connecting with others in a small group is one of the best ways to experience the supportive relationships found within the church. It's also your way to serve and minister to others. Feel free to jump in: All are welcome!</p>
                </div>
                <div class="col-lg-4">
                    <p>God is up to something in our community. God is working through His people to accomplish awesome things in this world. Wildwood Christian Church invites you to join us as we discover how God is working in our midst.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.wccstl.org" class="btn btn-lg btn-outline">
                        Learn More Today <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
