 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>WCC Signups is a place that you can come to find new ways to get involved at Wildwood Christian Church. We would love for you to join us as we discover together that God is up to something. Praise Him!</p>
                </div>
                <div class="col-lg-4">
                    <p>If you're interested in learning more about our church, please feel free to visit our website. We would be thrilled if you would take the time to learn a little more about us, and tell us a little something about you.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.wccstl.org" class="btn btn-lg btn-outline">
                        Learn More Today <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
