 <!-- jQuery Version 1.11.3 -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    {% if site.signup == "static" %}
    <script src="{{ "/js/signup_static.js" | prepend: site.baseurl }}"></script>
    {% else %}
     <script src="{{ "/js/signup.js" | prepend: site.baseurl }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>

    <!-- Some custom JavaScript for our form -->
    <script>
        $('#current-sg-yes').click(function() {
            $('#current-sg-leader').removeAttr("disabled");
            $('#current-sg-leader').prop("required",true);
            $('#current-sg-leader').attr("data-validation-required-message","Please enter the name of your current small group leader.");
        });
        $('#current-sg-no').click(function() {
            $('#current-sg-leader').removeProp("required");
            $('#current-sg-leader').removeAttr("data-validation-required-message");
            $('#current-sg-leader').attr("disabled",true);
        });
    </script>
